# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VRChat-World.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\WorkSpace\2021\VRChat-World\.idea\.idea.VRChat-World\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
